In [12]:
import pandas as pd
df1 = pd.read_csv(r'C:\Users\Student\Desktop\年合併_空白移除_篩選公司_篩選年\證券_2001_2020.csv')
df2 = pd.read_csv(r'C:\Users\Student\Desktop\資產負債\證券_90_109.csv')

# df2
result = pd.concat([df1, df2], axis=1, join='inner')
result.to_csv(r'C:\Users\Student\Desktop\損益表_資產負債合併\證券_2001_2020.csv')

In [3]:
df1

,公司,簡稱,年,月,季別,營業收入淨額,營業成本,營業毛利,聯屬公司已（未）實現銷貨利益,已實現銷貨毛利,...,其他綜合損益－OCI,合併前非屬共同控制股權綜合損益淨額－OCI,本期綜合損益總額,歸屬母公司淨利（損）,歸屬共同控制下前手權益淨利（損）,歸屬非控制權益淨利（損）,綜合損益歸屬母公司,綜合損益歸屬共同控制下前手權益,綜合損益歸屬非控制權益,每股盈餘
0,1101,台泥,2001,12,4,20244735.0,19819285.0,425450.0,1228.0,426678.0,...,NaN,NaN,NaN,190575.0,NaN,NaN,NaN,NaN,NaN,0.05
1,1101,台泥,2002,12,4,24595720.0,23605540.0,990180.0,1228.0,991408.0,...,NaN,NaN,NaN,286737.0,NaN,NaN,NaN,NaN,NaN,0.02
2,1101,台泥,2003,12,4,24420321.0,22821323.0,1598998.0,1228.0,1600226.0,...,NaN,NaN,NaN,1762182.0,NaN,NaN,NaN,NaN,NaN,0.60
3,1101,台泥,2004,12,4,24197991.0,21539174.0,2658817.0,1228.0,2660045.0,...,NaN,NaN,NaN,4421526.0,NaN,NaN,NaN,NaN,NaN,1.59
4,1101,台泥,2005,12,4,25231778.0,21601524.0,3630254.0,1228.0,3631482.0,...,NaN,NaN,NaN,5703367.0,0.0,0.0,NaN,NaN,NaN,1.97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27737,9962,有益,2016,12,4,2166197.0,2031015.0,135182.0,0.0,135182.0,...,-2871.0,0.0,64338.0,67209.0,0.0,0.0,64338.0,0.0,0.0,0.74
27738,9962,有益,2017,12,4,2286884.0,2150076.0,136808.0,0.0,136808.0,...,691.0,0.0,60447.0,59756.0,0.0,0.0,60447.0,0.0,0.0,0.66
27739,9962,有益,2018,12,4,2906557.0,2712778.0,193779.0,0.0,193779.0,...,-1566.0,0.0,92613.0,94179.0,0.0,0.0,92613.0,0.0,0.0,1.04
27740,9962,有益,2019,12,4,2316140.0,2229889.0,86251.0,0.0,86251.0,...,5140.0,0.0,16555.0,11415.0,0.0,0.0,16555.0,0.0,0.0,0.13
27741,9962,有益,2020,12,4,2032697.0,1973304.0,59393.0,0.0,59393.0,...,1687.0,0.0,2879.0,1192.0,0.0,0.0,2879.0,0.0,0.0,0.01

In [4]:
df2

,公司,簡稱,年,月,季別,流動資產,非流動資產,資產總額,流動負債,非流動負債,...,其他權益,庫藏股票帳面值,母公司股東權益合計,共同控制下前手權益,合併前非屬共同控制股權,非控制權益,股東權益總額,預收股款,庫藏股數（母持及子持母）,每股淨值(F)－TSE公告數
0,1101,台泥,2001,12,4,8275099.0,89754808.0,98029907.0,7095883.0,46791474.0,...,-966878.0,0.0,44142550.0,NaN,NaN,0.0,44142550.0,0.0,0.0,NaN
1,1101,台泥,2002,12,4,10271584.0,90756192.0,101027776.0,18092897.0,34888600.0,...,-201916.0,-113868.0,48046279.0,NaN,NaN,0.0,48046279.0,0.0,12270.0,NaN
2,1101,台泥,2003,12,4,6870965.0,87703183.0,94574148.0,9801466.0,35884950.0,...,-516542.0,-113868.0,48887732.0,NaN,NaN,0.0,48887732.0,0.0,12515.0,NaN
3,1101,台泥,2004,12,4,11604453.0,82553645.0,94158098.0,6876444.0,35176191.0,...,-295004.0,-113868.0,52105463.0,NaN,NaN,0.0,52105463.0,0.0,12953.0,NaN
4,1101,台泥,2005,12,4,16160691.0,75652661.0,91813352.0,8092857.0,27300108.0,...,9580801.0,-113868.0,56420387.0,0.0,0.0,NaN,56420387.0,0.0,13601.0,18.94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27737,9962,有益,2016,12,4,803360.0,322875.0,NaN,127723.0,20731.0,...,-1595.0,0.0,NaN,0.0,0.0,0.0,NaN,0.0,0.0,10.84
27738,9962,有益,2017,12,4,841351.0,298273.0,NaN,133971.0,21557.0,...,-83.0,0.0,NaN,0.0,0.0,0.0,NaN,0.0,0.0,10.91
27739,9962,有益,2018,12,4,1029034.0,294097.0,NaN,282796.0,22269.0,...,-1966.0,0.0,NaN,0.0,0.0,0.0,NaN,0.0,0.0,11.28
27740,9962,有益,2019,12,4,1025585.0,271903.0,NaN,322871.0,21194.0,...,0.0,0.0,NaN,0.0,0.0,0.0,NaN,0.0,0.0,10.57
27741,9962,有益,2020,12,4,811713.0,305524.0,NaN,165099.0,13880.0,...,-693.0,0.0,NaN,0.0,0.0,0.0,NaN,0.0,0.0,10.40