In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'C:\Users\Student\Desktop\損益表_資產負債合併_除權息\保險_2001_2020.csv')
df

,公司,簡稱,年,月,季別,營業收入,營業成本,營業費用,營業利益（損失）,營業外收入及支出,...,最近一次_股息發放日,Q1_股息發放日,Q2_股息發放日,Q3_股息發放日,Q4_股息發放日,盈餘配股(元),股票股利發放日,盈餘配股市值,股利市值,是否使用2021/07/31作為參考價
0,2816,旺旺保,2001,12,4,10912162,9531095,1192209,188858,103886,...,NaN,NaN,NaN,NaN,NaN,0.000000,2002-09-20,0.000000,0.000000,N
1,2816,旺旺保,2002,12,4,10351622,8658954,1400581,292087,24110,...,NaN,NaN,NaN,NaN,NaN,0.202600,2003-09-10,0.247172,0.247172,N
2,2816,旺旺保,2003,12,4,14915625,12793896,1858065,263664,75619,...,NaN,NaN,NaN,NaN,NaN,0.580000,2004-08-30,1.203500,1.203500,Y
3,2816,旺旺保,2004,12,4,16406672,14074793,2041429,290450,39777,...,NaN,NaN,NaN,NaN,NaN,0.300000,2005-09-07,0.206400,0.206400,N
4,2816,旺旺保,2005,12,4,17502403,15619784,2009523,-126904,104569,...,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,0.000000,0.000000,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134,2867,三商壽,2016,12,4,174076303,165560096,5505682,3010525,-117500,...,NaN,NaN,NaN,NaN,NaN,0.867937,2017-10-18,1.375680,1.375680,N
135,2867,三商壽,2017,12,4,184987213,176620810,4970753,3395650,-54489,...,NaN,NaN,NaN,NaN,NaN,1.570000,2018-09-07,2.527700,2.527700,N
136,2867,三商壽,2018,12,4,167844489,164889627,4613142,-1658280,124602,...,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,0.000000,0.000000,N
137,2867,三商壽,2019,12,4,179022429,169411922,4807540,4802967,131223,...,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,0.000000,0.000000,N
138,2867,三商壽,2020,12,4,157231964,151057815,4611774,1562375,177936,...,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,0.000000,0.000000,N

In [3]:
data = df.iloc[:,lambda x :[0,1,2,10,11,12,13,15,16,18,19,20,21,22,23,24,25,38,56,57,58,59,60,61,62,63,65,66,68,67,69,74,80,83]]
data

,公司,簡稱,年,稅前淨利,所得稅費用,繼續營業單位損益,停業單位損益,合併總損益,其他綜合損益（稅後）,本期綜合損益,...,母公司股東權益合計,共同控制下前手權益,非控制權益,股東權益總額,預收股款,庫藏股數（母+子）,每股淨值(F)（TSE公告數）,累計_現金股利(元),盈餘配股(元),股利市值
0,2816,旺旺保,2001,292744,40842,251902,0,251902.0,NaN,NaN,...,5345483.0,0.0,0.0,5345483,0.0,18999,NaN,0.0,0.000000,0.000000
1,2816,旺旺保,2002,316197,110789,205408,0,205408.0,NaN,NaN,...,5973793.0,0.0,0.0,5973793,0.0,43556,NaN,0.0,0.202600,0.247172
2,2816,旺旺保,2003,339283,93138,246145,0,246145.0,NaN,NaN,...,2470021.0,0.0,0.0,2470021,0.0,55606,NaN,0.0,0.580000,1.203500
3,2816,旺旺保,2004,330227,70881,259346,0,259346.0,NaN,NaN,...,2753972.0,0.0,0.0,2753972,0.0,0,NaN,0.0,0.300000,0.206400
4,2816,旺旺保,2005,-22335,-7983,-14352,0,-14352.0,NaN,NaN,...,2527754.0,0.0,0.0,2527754,0.0,0,10.52,0.0,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134,2867,三商壽,2016,2893025,-67972,2960997,0,2960997.0,1176876.0,4137873.0,...,NaN,NaN,NaN,31227991,NaN,0,18.73,0.0,0.867937,1.375680
135,2867,三商壽,2017,3341161,156209,3184952,0,3184952.0,3426501.0,6611453.0,...,NaN,NaN,NaN,39211891,NaN,0,20.42,0.0,1.570000,2.527700
136,2867,三商壽,2018,-1533678,-1221265,-312413,0,-312413.0,-15272084.0,-15584497.0,...,NaN,NaN,NaN,26095652,NaN,0,11.00,0.0,0.000000,0.000000
137,2867,三商壽,2019,4934190,-77322,5011512,0,5011512.0,8685008.0,13696520.0,...,NaN,NaN,NaN,42625750,NaN,0,16.95,0.0,0.000000,0.000000
138,2867,三商壽,2020,1740311,295773,1444538,0,1444538.0,-2967401.0,-1522863.0,...,NaN,NaN,NaN,42111789,NaN,0,16.83,0.0,0.000000,0.000000

In [4]:
data1 = df.iloc[:,13:]
data1

,停業單位損益,合併前非屬共同控制股權損益,合併總損益,其他綜合損益（稅後）,合併前非屬共同控制股權綜合損益淨額－OCI,本期綜合損益,歸屬母公司淨利（損）,歸屬共同控制下前手權益淨利（損）,歸屬非控制權益淨利（損）,綜合損益歸屬母公司,...,最近一次_股息發放日,Q1_股息發放日,Q2_股息發放日,Q3_股息發放日,Q4_股息發放日,盈餘配股(元),股票股利發放日,盈餘配股市值,股利市值,是否使用2021/07/31作為參考價
0,0,0.0,251902.0,NaN,NaN,NaN,251902,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,0.000000,2002-09-20,0.000000,0.000000,N
1,0,0.0,205408.0,NaN,NaN,NaN,205408,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,0.202600,2003-09-10,0.247172,0.247172,N
2,0,0.0,246145.0,NaN,NaN,NaN,246145,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,0.580000,2004-08-30,1.203500,1.203500,Y
3,0,0.0,259346.0,NaN,NaN,NaN,259346,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,0.300000,2005-09-07,0.206400,0.206400,N
4,0,0.0,-14352.0,NaN,NaN,NaN,-14352,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,0.000000,0.000000,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134,0,0.0,2960997.0,1176876.0,0.0,4137873.0,2960997,0.0,0.0,4137873.0,...,NaN,NaN,NaN,NaN,NaN,0.867937,2017-10-18,1.375680,1.375680,N
135,0,0.0,3184952.0,3426501.0,0.0,6611453.0,3184952,0.0,0.0,6611453.0,...,NaN,NaN,NaN,NaN,NaN,1.570000,2018-09-07,2.527700,2.527700,N
136,0,0.0,-312413.0,-15272084.0,0.0,-15584497.0,-312413,0.0,0.0,-15584497.0,...,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,0.000000,0.000000,N
137,0,0.0,5011512.0,8685008.0,0.0,13696520.0,5011512,0.0,0.0,13696520.0,...,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,0.000000,0.000000,N
138,0,0.0,1444538.0,-2967401.0,0.0,-1522863.0,1444538,0.0,0.0,-1522863.0,...,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,0.000000,0.000000,N

In [5]:
data.shape

(139, 34)

In [7]:
data.to_csv(r'C:\Users\Student\Desktop\ML_欄位\保險_2001_2020.csv', index=False)